
@font-face {
    font-family: "Myriad Pro";
    src: url('MyriadPro-Light.woff');
    src: local('MyriadPro-Light.woff'), local('Myriad Pro'),
    url('MyriadPro-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "Myriad Pro";
    src: url('MYRIADPRO-SEMIBOLD.woff');
    src: local('MYRIADPRO-SEMIBOLD.woff'), local('Myriad Pro'),
    url('MYRIADPRO-SEMIBOLD.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: "Myriad Pro";
    src: url('MYRIADPRO-REGULAR.woff');
    src: local('MYRIADPRO-REGULAR.woff'), local('Myriad Pro'),
    url('MYRIADPRO-REGULAR.woff') format('woff') ;
    font-weight: 400;
}
